<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medicines</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p th:text="Medicines" style="font-weight: bold">ddMedicines:</p>


    <!--    Add a button-->
    <a th:href="@{/medicines/showFormForAddMedicine}"
        class="btn btn-primary btn-sm mb-3">
        Add medicine
    </a>

    <table class="table table-striped table-hover table-sm">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>CODE</th>
            <th>DESCRIPTION</th>
            <th>ACTION</th>
            <th>DELETE</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="medicine : ${medicineList}">
                <td th:text="${medicine.medicineId}" ></td>
                <td th:text="${medicine.medicineName}" class="funny"></td>
                <td th:text="${medicine.medicineCode}" class="funny"></td>
                <td th:text="${medicine.medicineDescription}" class="funny"></td>
                <td>
                    <a th:href="@{/medicines/showFormForEditMedicine(medicineIdToEdit=${medicine.medicineId})}"
                       class="btn btn-info btn-sm">Update</a>
                </td>
                <td>
                    <a th:href="@{/medicines/delete(medicineIdToDelete=${medicine.medicineId})}"
                    class="btn btn-danger btn-sm"
                    onclick="if(!(confirm('Are you sure?')))return false">Delete</a>
                </td>

            </tr>
        </tbody>
    </table>


</div>

</body>
</html>