<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:STUDENT="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<p style="font-weight: bold">STUDENT:</p>

<label>First name:
    <span th:text=${student.firstName}>t </span>
</label><br>
<label>Last name:
    <span th:text=${student.lastName}>t </span>
</label><br>
<label>Country:
    <span th:text=${student.country}>t </span>
</label><br>
<label>Free passes:
    <span th:text=${student.freePasses}>t </span>
</label><br>
<label>Post Code:
    <span th:text=${student.postCode}>t </span>
</label><br>
<label>Course Code:
    <span th:text=${student.courseCode}>t </span>
</label><br>



</body>
</html>