<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student form</title>

    <style>
        .error-sign {
            color:red;
        }
        .errorBorder {
            color:red;
            border-style: solid;
            border-color: coral;
        }

    </style>
</head>
<body>


<form th:action="@{/student/processForm}" th:object="${student}" method="post">
    <p>First Name:
        <label>
            <input type="text" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')}? errorBorder" />
        </label>
        <span class="error-sign" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </p>

    <p>Last Name:
        <label>
            <input type="text" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')}? errorBorder" />
        </label>
        <span class="error-sign" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </p>


    <label> Country:
        <select th:field="*{country}">
            <option value=""> -- </option>
            <option th:each="entry : ${student.getCountryOptions().entrySet()}"
                    th:value="${entry.key}"
                    th:utext="${entry.value}">
            </option>
        </select>
    </label>

    <p><input type="submit" value="Submit" />
        <input type="reset" value="Reset" /></p>

</form>

<!--<form th:action="@{/add-medicine}" th:object="${medicine}" method="post">-->
<!--    <p>Code: <input type="text" th:field="*{code}"/></p>-->
<!--    <p>Name: <input type="text" th:field="*{name}"/></p>-->
<!--    <p>Description: <input type="text" th:field="*{description}"/></p>-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--</form>-->


</body>
</html>